* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.calculator-container {
    text-align: center;
}

.calculator-header h1 {
    font-family: 'Georgia', serif;
    font-size: 2em;
    color: #e67e22;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

/* Calculator Styles */
.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    width: 320px;
}

.display {
    margin-bottom: 20px;
}

#display {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 2em;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.equal {
    grid-column: span 2;
    background-color: #e67e22;
}

.equal:hover {
    background-color: #d35400;
}

.zero {
    grid-column: span 2;
}